<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>
    <h2>Conversor de Unidades de medida</h2>
    <form action="/procesar" method="POST">
        <label for="valor">Valor a convertir:</label>
        <input type="text" id="valor" name="valor" required> 
        <label for="unidad">Unidad:</label>
        <input type="text" id="unidad" name="unidad" required>
        <br>
        <h3>Elige la unidad para convertir</h3>
        <input type="radio" name="opcion" value="cm">cm
        <input type="radio" name="opcion" value="m">m
        <input type="radio" name="opcion" value="in">in
        <input type="radio" name="opcion" value="ft">ft
        <br><br>
        <button type="submit">Convertir</button>
    </form>

    {% if resultado is not none %}
        <h2>Resultado:</h2>
        <p>{{ resultado }}</p>
    {% endif %}
</body>
</html>